MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_BUCKET_RAW=europe-raw
MINIO_BUCKET_LAKE=europe-lake
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
TRINO_HOST=trino
TRINO_PORT=8080
AIRFLOW_UID=50000
WORLD_BANK_API=https://api.worldbank.org/v2
OPEN_METEO_API=https://api.open-meteo.com/v1
